.signup-container {
    position: relative;
    bottom: 50px;
    background-image: url("../../assets/images/backgrd.jpg");
    width: 100%;
    background-repeat: no-repeat !important;
    background-size: cover;
    height: 100vh;
  }
  
  .signup-form {
    color: #fff;
    position: relative;
    left: 30% !important;
    top: 100px;
    border: 2px solid #00bcd4;
    border-radius: 5px;
  }
  
  .signupbtn {
    position: relative;
    bottom: 5px;
    background-color: #247ea5;
    color: #fff;
    font-size: 20px;
    padding: 3px;
  
    border: 1px #fff solid;
    border-radius: 4px;
  }
  